@import "../resources/mixins";

.filterModale {
  width: 425px;
}

.header {
  padding: 18px 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-primary-1;
}

.closeButton {
  height: auto;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: $color-primary-5;
  display: flex;
  align-items: center;

  &:focus {
    outline: none;
  }
}

.title {
  margin-left: 5px;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: $color-primary-5;
}
