@import "../resources/mixins";

.header {
  padding: 9px 16px;
  border-bottom: 1px solid $color-primary-1;
  color: $color-primary-3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.content {
  border-bottom: 1px solid $color-primary-1;

  .filter {
    display: flex;
    padding: 8px 16px;

    &:hover {
      background-color: $color-primary-1;
    }

    .label {
      flex-wrap: wrap;

      mark {
        padding: 0;
        color: $color-primary-3;
      }
    }
  }

  .noResults {
    padding: 0 25px 8px 25px;
    font-weight: 300;
    font-style: italic;
    color: $color-primary-2;
  }
}