@import "../../../../../resources/mixins/";

.activityMultiSelectContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $color-primary-5;

  .multiSelect {
    margin-left: 8px;
    width: 350px;
  }

  .optionContainer {
    max-height: 440px;
  }

  .optionGroup {
    padding: 7px 12px;
    width: 100%;

    &.partiallySelected {
      .optionGroupLabel {
        color: $color-primary-3;
      }
    }

    &.selected {
      background-color: $color-primary-1;

      .optionGroupLabel {
        color: $color-primary-4;
      }
    }
  }

  .optionGroupLabel {
    font-weight: 400;
    color: $color-primary-2;
  }

  .option {
    padding-left: 24px;
  }

  .controlSelectionButtonsWrapper {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 13px 12px;
    transform: translateY(-8px);
    z-index: 20;

    transition: background-color ease 0.2s;

    &.shadowed {
      @include unidirectionalBottomShadow();
    }

    .controlSelectionButton {
      padding: 7px 12px;

      &:last-child {
        margin-left: 15px;
      }
    }
  }
}
