.compareToResultWrapper {
  color: #e67e22;

  .compareToResult {
    color: #d35400;
  }
}

.comparisonLoaderContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e67e22;
}
