@import "../../../../../resources/mixins/";

.entryHistoryMultiSelectContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  color: $color-primary-5;

  .entryHistoryMultiSelect {
    margin-left: 8px;
    width: 250px;
  }

  .noData {
    padding: 7px 12px;
    font-style: italic;
    font-weight: 300;
  }
}
