
@import "../../../resources/mixins";

.searchInput {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-size: inherit;
  color: inherit;
  height: 24px;

  &::placeholder {
    color: $color-primary-2;
  }
}

.noResults {
  font-weight: 300;
  font-style: italic;
  padding: 7px 12px;
}
