@import "../../../../resources/mixins";

.evolutionCell {
  &.bold {
    font-weight: bold;
  }

  &.reduction {
    color: darken($color-green, 25%);
  }

  &.augmentation {
    color: $color-red;
  }
}
