@import "../../../resources/mixins";

.settingsLine {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;

  .columnSettings {
    height: 33px;
    padding: 5px 12px;
  }
}
.topBarListing{
  display: flex;
  justify-content: space-between;
  // justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  .topBarListingActions{
    display: flex;
    flex-direction: row;
    align-items: center;
    .chkActionTop{
      margin-left: 10px;
      margin-right: -10px;
      font-size: 1.2rem;
      color: $color-primary-2;
      cursor: pointer;
    }
    
    .moreActionTop {
      transform: scale(1.75);
      width: 28px;
      font-size: 1.2rem;
      color: $color-primary-2;
      cursor: pointer;
    }
    
    .dropdownMoreActionTop{
      // transform: scale(0.6);
      z-index:15;
    }
    
    .entryActionTop {
      cursor: pointer;
      color: $color-primary-3;
    
      &:hover {
        color: $color-red;
      }
    }

  }
}

.gridListActivityEntries {
  margin-top: 55px;

  width: 100%;
  display: grid;
}

.noResults {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 100%;
}

@media #{$small-down} {
  .main {
    overflow-x: scroll;
    .gridListActivityEntries {
      min-width: 900px;
    }
  }
}
